<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Lab05.WCFSimplex">
        <endpoint address="" binding="basicHttpBinding" name="http" contract="Lab05.IWCFSimplex" />
        <endpoint address="" binding="netTcpBinding" name="tcp" contract="Lab05.IWCFSimplex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733" />
            <add baseAddress="net.tcp://localhost:8734/tcp" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True"/>
  </system.serviceModel>
</configuration>
