<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsSumA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WindowsFormsSumA.Properties.Settings>
            <setting name="S1" serializeAs="String">
                <value>textBox1</value>
            </setting>
            <setting name="K2" serializeAs="String">
                <value>textBox2</value>
            </setting>
            <setting name="F1" serializeAs="String">
                <value>textBox3</value>
            </setting>
            <setting name="S2" serializeAs="String">
                <value>textBox4</value>
            </setting>
            <setting name="K1" serializeAs="String">
                <value>K1</value>
            </setting>
            <setting name="F2" serializeAs="String">
                <value>textBox6</value>
            </setting>
            <setting name="S3" serializeAs="String">
                <value>textBox7</value>
            </setting>
            <setting name="K3" serializeAs="String">
                <value>textBox8</value>
            </setting>
            <setting name="F3" serializeAs="String">
                <value>textBox9</value>
            </setting>
        </WindowsFormsSumA.Properties.Settings>
    </userSettings>
</configuration>